:global(*) {
    box-sizing: border-box;
}

:global(body) {
    margin: 0;
    font-family: 'SF Display';
    padding: 0 50px;
    background: url("https://i.ibb.co/WFbYbSJ/background.png") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
}